#about_me {
    background-image: url('./imgs/vietnam.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#sum_container {
    position: relative;
    top:20%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: var(--beige);
}

#sum_container p {
    color: var(--beige);
}










/* VERSION 1 */

/* #about_me {
    background-image: url('./imgs/vietnam.jpeg');
    height: 75vh;
    display: flex;
    justify-content: space-between;
}

#profile-container {
    width: 500px;
    height: 400px;
    background-color: var(--beige);
    margin: 30px;
    position: relative;
    bottom: -350px;
    border-radius: 3px;

} */